<nav class="mb-1 navbar navbar-expand-lg navbar-dark blue-grey darken-3 py-4">
    <a class="h2 text-white ml-3" routerLink="/">Wineshop<i class="ml-1 fas fa-wine-glass-alt"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link ml-5" routerLink="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown mr-5">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" href="!#"
            aria-haspopup="true" aria-expanded="false">
            <span class="nav-item">quantity</span>
            <i class="fas fa-shopping-cart"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default shoppingCartSize z-depth-1 text-center"
            aria-labelledby="navbarDropdownMenuLink-333">
            <app-shoppingcart></app-shoppingcart>
          </div>
        </li>
      </ul>
    </div>
  </nav>
