<form class="container">
    <h1 class="text-center m-5">Contact us</h1>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Name...">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number...">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group mt-5">
      <label for="exampleFormControlTextarea1">How can we help?</label>
      <textarea class="form-control resize" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
