<div class="p-4">

    <div class="mb-2">
        <h4 class="m-3">Shopping Cart</h4>

        <app-cart-item></app-cart-item>
       
    </div>

    
        <div>

        <div>
           <button class="btn btn-danger" (click)="clearCart();$event.stopPropagation()"><i class="far fa-trash-alt"></i></button>
       </div>

           <p>Total Amount: total amount :-</p>
           <p>Total Quantity: total quantity</p>

       </div>
      
        <div class="mb-3">Din kundvagn är tom</div>
       
       <button class="btn btn-light">CHECKOUT</button>
    
    
</div>
